@import "../dist/webkit-sassui-linear-bg.scss";

.box{
  margin-bottom: 20px;
  position: relative;
  img{
    display: block;
    width: 100%;
  }

  .footer {
    height: 40px;
    line-height: 40px;;
  }

  .webkit-sassui-linear-bg{
    position: absolute;
    width: 100%;
    bottom:0;
    color: #fff;
    padding-left: 10px;
  }
}
