/*webkit-sassui-linear-bg Start*/
.webkit-sassui-linear-bg[data-color=black][data-deg='0'] {
  background: linear-gradient(0, transparent 0, rgba(0, 0, 0, 0.8));
}

.webkit-sassui-linear-bg[data-color=black][data-deg='180'] {
  background: linear-gradient(180, transparent 0, rgba(0, 0, 0, 0.8));
}

.webkit-sassui-linear-bg[data-color=white][data-deg='0'] {
  background: linear-gradient(0, transparent 0, rgba(255, 255, 255, 0.8));
}

.webkit-sassui-linear-bg[data-color=white][data-deg='180'] {
  background: linear-gradient(180, transparent 0, rgba(255, 255, 255, 0.8));
}

/*webkit-sassui-linear-bg End*/
.box {
  margin-bottom: 20px;
  position: relative;
}

.box img {
  display: block;
  width: 100%;
}

.box .footer {
  height: 40px;
  line-height: 40px;
}

.box .webkit-sassui-linear-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding-left: 10px;
}
