/*webkit-sassui-linear-bg Start*/
/*webkit-sassui-linear-bg End*/
.container {
  width: 710px;
  height: 139px;
  margin: 20px auto;
}

.box {
  width: 230px;
  height: 139px;
  font-size: 14px;
  position: relative;
  float: left;
}

.box + .box {
  margin-left: 10px;
}

.h20 {
  height: 24px;
  line-height: 24px;
}

.h40 {
  height: 40px;
  line-height: 40px;
}

.h80 {
  height: 80px;
  line-height: 80px;
}

[class*=test-webkit-sassui-linear] {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}

.test-webkit-sassui-linear-bg1 {
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8));
}

.test-webkit-sassui-linear-bg2 {
  background: linear-gradient(0deg, transparent 0, rgba(255, 102, 0, 0.4));
}

.test-webkit-sassui-linear-bg3 {
  background: linear-gradient(180deg, transparent 0, rgba(255, 0, 0, 0.8));
}
